
body {
    min-width: 295px;
}

label{
    font-family: fantasy;
    font-size: 1.5em;
}

#define{
    background-color: crimson;
    border: none;
    color: white;
    padding 10px 20px;
    text-align: center;
    font-size: 1em;
}